// colors
$sw-color-white: #fff;
$sw-color-blue1: #a9d9f3;
$sw-color-blue2: #007896;
$sw-color-blue3: #022434;
$sw-color-yellow: #ffb703;
$sw-color-orange: #fb8500;

// font sizes
// $sw-default-font-size: 16px;

// margins
$sw-margin-sm: 0.5rem;
$sw-margin: 1rem;

// layout element size
$sw-aside-size: 240px;


// media query break points
$sw-media-default-min-width: 480px;
$sw-media-aside-min-width: 800px;
