@import "../../styles/variables";

.avatar {
  --size: 3rem;

  display: block;
  background-color: $sw-color-blue2;
  color: $sw-color-white;
  font-weight: 700;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: 50%;
  text-align: center;
  flex: 0 0 auto;
}

.smSize {
  --size: 1.5rem;
}
